@import '../../styles/variables.scss';

.room-users-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-left: 3px solid lighten($gunMetal, 15%);
	width: 300px;
	min-width: 200px;
	height: 100%;
	background-color: $gunMetal;
	color: lighten($gunMetal, 35%);

	.users-bar-scroll {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		height: 100%;
		max-height: 100%;
		width: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		.room-user-heading {
			text-align: center;
			margin: 10px auto;
			width: 100%;
			color: lighten($gunMetal, 35%);
			padding: 10px;
		}
		.room-user-subheading {
			margin-bottom: 15px;
			width: 100%;
			background-color: lighten($gunMetal, 35%);
			color: $gunMetal;
			padding: 10px;
		}
		.room-user-subheading.second {
			margin-top: 15px;
		}
		.room-nouser-subheading {
			margin-bottom: 15px;
		}
	}
}
