@import '../../styles/variables.scss';

.priv-msg-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 20px;
	.priv-msg-subheading {
		width: 90%;
		text-align: center;
		margin-bottom: 15px;
		color: lighten($gunMetal, 35%);
		text-transform: uppercase;
	}
	div.priv-msg-list {
		max-height: 250px;
		width: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		text-align: center;
		margin-bottom: 20px;
	}
}
