@import '../../styles/variables.scss';

.chat-topbar-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	background-color: $gunMetal;
	border-bottom: 3px solid lighten($gunMetal, 15%);
	color: lighten($gunMetal, 35%);
	.chat-topbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 70px;
		.chatbox-heading {
			display: flex;
			align-items: center;
			background-color: $gunMetal;
			padding: 0px 5px;
		}
		.chatbox-topic {
			display: flex;
			justify-content: center;
			flex-grow: 1;
			color: $gunMetal;
			color: lighten($gunMetal, 40%);
			font-size: 16px;
			text-align: center;
			padding: 10px 20px;
		}
		.chatbox-action-container {
			height: 100%;
			display: flex;
			padding: 5px 8px;
			gap: 5px;
		}
	}
}
