@import '../../styles/variables.scss';

.rooms-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	// border-bottom: 3px solid $seeThroughtheBlue;
	margin-top: 20px;
	.rooms-subheading {
		width: 90%;
		text-align: center;
		margin-bottom: 15px;
		margin-top: 20px;
		color: lighten($gunMetal, 35%);
		text-transform: uppercase;
	}
	div.rooms-list {
		max-height: 250px;
		width: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		text-align: center;
		margin-bottom: 20px;
	}
}
