@import '../../styles/variables.scss';

.sidebar-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 320px;
	min-width: 320px;
	background-color: $gunMetal;
	border-right: 3px solid lighten($gunMetal, 15%);
	.sidebar-scroll-container {
		max-height: 100%;
		width: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		.sidebar-header-container {
			position: sticky;
			top: 0;
			display: flex;
			flex-direction: column;
			width: 100%;
			justify-content: center;
			align-items: center;
			padding: 20px 0px;
			background-color: $gunMetal;
			border-bottom: 3px solid lighten($gunMetal, 15%);
			color: lighten($gunMetal, 35%);
			.dash-user-heading {
				text-align: center;
				width: 95%;
				overflow-wrap: break-word;
			}
			.user-emoji {
				width: 60px;
				height: 60px;
				object-fit: contain;
				margin: 5px;
			}
		}
		.sidebar-heading {
			width: 100%;
			text-align: center;
			margin: 0;
			padding: 15px 0;
			color: $WWhite;
		}
		.sidebar-heading.room {
			background-color: $neoPink;
		}
		.sidebar-heading.priv {
			background-color: $purpleRain;
		}
	}
}
