@import '../../styles/variables.scss';

.chatbox-container {
	display: flex;
	flex-direction: column;
	// height: 100%;
	flex-grow: 1;

	.chatbox-inner-container {
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		height: 100%;
		border-bottom: 3px solid $gunMetal;
		border-top: 3px solid $gunMetal;
		overflow: scroll;
	}
}
