$BBlack: #000000;
$gunMetal: #2c363f;
$WWhite: #ffffff;
$neoPink: #ff0080;
$veryRed: #f7311b;
$veryLightRed: #fa9a8f;
$purpleRain: #9d00ff;
$theBlue: #3772ff;
$goGoGreen: #14a245;
$tangyOrange: #f87a47;

