
$BBlack: #000000;
$gunMetal: #2c363f;
$timberWolf: #d6dbd2;
$smoothGrey: #dfdfdf;
$WWhite: #ffffff;

$neoPink: #ff0080;
$veryRed: #f7311b;
$veryLightRed: #fa9a8f;

$purpleRain: #9d00ff;
$skyBlue: #00dcff;
$seeThroughtheBlue: #3773ff76;
$seeThroughtheBlue2: #3773ff4f;
$theBlue: #3772ff;
$theDarkerBlue: #01257a;

$slimeGreen: #37ff8b;
$goGoGreen: #14a245;
$darkGoGoGreen: #0d652c;
$seeThroughGoGoGreen: #14a2469c;

$tangyOrange: #f87a47;
$yHello: #f7e11b;


//#fa9a8f

// $blush: #e75a7c;
// $ivory: #f2f5ea;
// $otherPink: #b7025d;

