$gunMetal: #2c363f;
$blush: #e75a7c;
$ivory: #f2f5ea;
$timberWolf: #d6dbd2;

$neoPink: #ff0080;
$purpleRain: #9d00ff;
// $otherPink: #b7025d;
$skyBlue: #00dcff;
$seeThroughtheBlue: #3773ff76;
$seeThroughtheBlue2: #3773ff4f;
$theBlue: #3772ff;
$theDarkerBlue: #01257a;
$smoothGrey: #dfdfdf;
$slimeGreen: #37ff8b;
$goGoGreen: #14a245;
$darkGoGoGreen: #0d652c;
$seeThroughGoGoGreen: #14a2469c;
$tangyOrange: #f87a47;
$BBlack: #000000;
$WWhite: #ffffff;
$yHello: #f7e11b;
$veryRed: #f7311b;

//#F7311B
