@import '../../styles/variables.scss';

.chat-topbar-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	background-color: $smoothGrey;
	.chat-topbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 70px;
		.chatbox-heading {
			display: flex;
			align-items: center;
			color: $gunMetal;
			background-color: $smoothGrey;
			padding: 10px 20px;
		}
		.chatbox-topic {
			display: flex;
			justify-content: center;
			flex-grow: 1;
			color: $gunMetal;
			font-size: 18px;
		}
		.chatbox-action-container {
			height: 100%;
			display: flex;
			padding: 5px 8px;
			gap: 5px;
		}
	}
}
