@import '../../styles/variables.scss';

.chat-topbar-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	background-color: $yHello;
	.chat-topbar {
		display: flex;
		height: 70px;
		.chatbox-heading {
			display: flex;
			align-items: center;
			flex-grow: 1;
			color: $theDarkerBlue;
			background-color: $yHello;
			padding: 10px 20px;
		}
	}
	.chatbox-topic {
		display: flex;
		justify-content: center;
		padding: 10px;
		background-color: $theDarkerBlue;
		color: $WWhite;
		font-size: 18px;
	}
}
