@import '../../styles/variables.scss';

.private-chatbox-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	.chatbox-inner-container {
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		height: 100%;
		border-top: 3px solid lighten($gunMetal, 15%);
		border-bottom: 3px solid lighten($gunMetal, 15%);
		overflow: scroll;
	}
}
