@import '../../styles/variables.scss';

.msg-container {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: 10px 5px;
	padding: 20px 25px 20px 30px;
	border-radius: 10px;
	border-radius: 50px 40px 40px 15px;
	.msg {
		padding: 10px 5px;
	}
	.msg-date {
		font-size: 15px;
		color: lighten($gunMetal, 15%);
	}
}

.msg-from-other {
	background-color: lighten($gunMetal, 55%);
	.msg-sender {
		color: $gunMetal;
	}
}

.msg-from-user {
	background-color: $theBlue;
	.msg-sender {
		color: lighten($tangyOrange, 5%);
	}
	.msg-date {
		color: darken($gunMetal, 5%);
	}
}
